<form #formProducto="ngForm" (ngSubmit)="onSubmit()" id="form-producto">
    
    <div class="pagina__contenedor">
        <div class="pagina__miga">
        Administracion<span>//</span>Producto Generico<span>//</span>Producto Generico
        </div>
        <table width="100%">
            <tr>
                <td></td>
                <td class="pagina__titulo">{{titulo}}</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="bloque">
                <td></td>
                <td class="bloque__header2 bloque__header1__claro bloque__top__redondeado">
                    Datos de Producto Genérico
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <table style="width:100%" id="table_data">
                        <tr>
                            <td></td>
                            <td class="bloque__contenido bloque__contenido__blanco bloque__columnas" style="margin-bottom: 0px;">
                                <div class="bloque__49">
                                    <div class="nom_input">
                                        <span style=" font-family: 'PoppinsMedium !important';">Codigo Sociedad: </span>
                                        <span style="color:rgb(255,0,0)">*</span>
                                    </div>
                                    <div style="width: 60%;" >
                                        <input type="text" #campo1="ngModel" class="input input__basico" id="txt_codSociedad"
                                        name="campo1" [(ngModel)]="admin.campo1" required />
                                    </div>
                                </div>
                                <div class="bloque__49">
                                    <div class="nom_input">
                                        <span style=" font-family: 'PoppinsMedium !important';">Linea: </span>
                                        <span style="color:rgb(255,0,0)">*</span>
                                    </div>
                                    <div style="width: 60%;"> 
                                        <select class="input input__basico select" [compareWith]="placeSelect" required
                                        name="admin.combo1" [(ngModel)]="admin.combo1" (change)="mostrarSelec()"
                                        id="cb_linea">
                                            <option [ngValue]="obj" *ngFor="let obj of Linea">
                                                {{obj.nombre}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="bloque__contenido bloque__contenido__blanco bloque__columnas" style="margin-bottom: 0px;">
                                <div class="bloque__49">
                                    <div class="nom_input">
                                        <span style=" font-family: 'PoppinsMedium !important';">Sub-Linea: </span>
                                        <span style="color:rgb(255,0,0)">*</span>
                                    </div>
                                    <div style="width: 60%;"> 
                                        <select class="input input__basico select" [compareWith]="placeSelect" required
                                        name="admin.combo2" [(ngModel)]="admin.combo2" (change)="mostrarSelec()"
                                        id="cb_sublinea">
                                            <option [ngValue]="obj" *ngFor="let obj of subLinea">
                                                {{obj.nombre}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="bloque__49 bloque__columnas" >
									<div style="width: 40%;">
                                        <span style=" font-family: 'PoppinsMedium !important';">Producto: </span>
                                        <span style="color:rgb(255,0,0)">*</span>
                                        <div style="margin-top: 5px; " id="div_radio">
                                            <input type="radio" id="prodtipo1" name="prodtipo" [value]="'Codigo'"
                                            [(ngModel)]="admin.campo2">
                                            <label for="prodtipo1" style="font-family: 'PoppinsRegular';" >Codigo</label>
                                            <input type="radio" id="prodtipo2" name="prodtipo" [value]="'Nombre'"
                                            [(ngModel)]="admin.campo2">
                                            <label for="prodtipo2" style="font-family: 'PoppinsRegular';">Nombre</label>
                                        </div>
                                    </div>
                                    <div style="width: 60%;">
                                        <input type="text" #campo3="ngModel" style="width: 60%;" 
                                        name="campo3" [(ngModel)]="admin.campo3" class="input input__basico"  />
                                        <input id="btnBuscar" type="button" style="width: 30%; margin-left: 10px;"
                                        (click)="buscarProducto()" Class="boton boton__verde" value="Buscar" />
                                    </div>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
							<td></td>
							<td class="bloque__contenido bloque__contenido__blanco bloque__columnas" style="margin-bottom: 0px;">
								<div class="bloque__49">
                                    <div class="nom_input">
                                        <span style=" font-family: 'PoppinsMedium !important';">Codigo - Nombre: </span>
                                        
                                    </div>
                                    <div style="width: 60%;" class="nom_input" >
                                        <div *ngIf="mensaje_error">
                                            <span style="color:rgb(255,0,0); font-family: 'PoppinsMedium !important';" >{{mensaje_error}}</span>
                                        </div>
                                        <div *ngIf="admin.campo4">
                                            <span> {{ 
                                                left(right(admin.campo4,8),3)+'-'+
                                                right(right(admin.campo4,8),5)
                                            }}</span> - <span>{{admin.campo5}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="bloque__49">
                                    <div class="nom_input">
                                        <span style=" font-family: 'PoppinsMedium !important';">Unidad de Medida: </span>
                                    </div>
                                    <div style="width: 60%;" class="nom_input" >
                                        <span style="font-family: 'PoppinsRegular';" >{{admin.campo6}}</span>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
							<td></td>
							<td class="bloque__contenido bloque__contenido__blanco bloque__columnas" style="margin-bottom: 0px;">
								<div class="bloque__49">
                                    <div class="nom_input">
                                        <span style=" font-family: 'PoppinsMedium !important';">Estado: </span>
                                        <span style="color:rgb(255,0,0)">*</span>
                                    </div>
                                    <div style="width: 60%">
                                        <select class="input input__basico select" required>
                                            <option [value]="'ACTIVO'" selected>ACTIVO</option>
                                            <option [value]="'INACTIVO'">INACTIVO</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td class="bloque__contenido bloque__contenido__gris bloque__contenido__flex__end bloque__contenido__guardar">
                    <input type="button" [routerLink]="['/ConsultaProdGenerico']"
                    class="boton boton__negro" value="Cancelar"/>&#160;&#160;
                    <input type="submit" class="boton boton__verde" value="Grabar" [disabled]="!formProducto.form.valid"/>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
    <ng-template dlg_producto></ng-template>
   
</form>

