<div class="dialogNoClose">
    <table class="animacion__in">
        <tr>
            <td></td>
            <td class="overlay__box__titulo">Búsqueda Producto</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input id="btnCerrar" type="button" (click)="onNoClick()" Class="boton boton__negro" value="cancelar" />
            </td>
            <td></td>
        </tr>
        
    </table>
</div>