<div class="dialogNoClose">
    <table class="animacion__in">
        <tr>
            <td></td>
            <td class="overlay__box__titulo">Búsqueda Producto </td>
            <td></td>
        </tr>
       <tr>
           <td></td>
           <td> &#160; </td>
           <td></td>
       </tr> 
        <tr>
            <td></td>
            <td>
                <div style="height: 65vh; overflow-x: auto;" class="div_cn_scroll">
                    <table id="dataTable1" role="grid" aria-readonly="true" style="width: 100%;"
                    class="tabla">
                        <thead>
                            <tr role="row" >
                                <th role="columnheader" class="tabla__td__left" scope="col">
                                    <span></span>
                                </th>
                                <th role="columnheader" class="tabla__td__left" scope="col">
                                    <span>Código SAP</span>
                                </th>
                                <th role="columnheader" class="tabla__td__left" scope="col">
                                    <span>Producto</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" *ngFor="let itm of listaDatos" >
                                <td role="gridcell" class="tabla__td__left">
                                    <input type="checkbox" value="item" (click)="buscarUM(itm)">
                                </td>
                                <td role="gridcell" class="tabla__td__left">
                                    <span>{{ 
                                        left(right(itm.split('¬')[1],8),3)+'-'+
                                        right(right(itm.split('¬')[1],8),5)
                                    }}</span>
                                </td>
                                <td role="gridcell" class="tabla__td__left">
                                    <span>{{itm.split('¬')[0]}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>&#160;</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input id="btnCerrar" type="button" (click)="onNoClick(null)" Class="boton boton__negro" 
                value="Cancelar" />
                &#160;&#160;
                <input id="btnCerrar" type="button" (click)="onNoClick(null)" Class="boton boton__verde" 
                value="Nuevo" />
            </td>
            <td></td>
        </tr>
        
    </table>
</div>